<div class="big-background display-pc-1100">
    <%= image_tag "main_pc.jpg", class: 'display-pc-1100' %> 
    <div class="title">
            <h1>The Great Outdoors</h1>
            <p>Wander everywhere. Wander always.</p>
        </div>      
</div>
<div class="big-background display-tbl-1100">
     <%= image_tag "main_tb.jpg", class: 'display-tbl-1100' %>
    <div class="title">
        <h1>The Great Outdoors</h1>
        <p>Wander everywhere. Wander always.</p>
    </div> 
</div>
<div class="big-background display-sp-1100">
    <%= image_tag "main_sp.jpg", class: 'display-sp-1100' %>
    <div class="title">
        <h1>The Great Outdoors</h1>
        <p>Wander everywhere. Wander always.</p>
    </div> 
</div>


<div class="subtext_intro">
    <h2>Explore the World</h2>
    <p>We seek to provide the most authentic content from athletes, adventurers, explorers and travellers around the world. Our long-term mission is to educate, inspire and enable all peoples to experience & protect wilderness.</p>
</div>

<div class="explore_block">
    <div class="explore_child">
        <a><%= image_tag "explr_01.jpg" %></a>
        <div class="explore_child_text">
            <h3>Geirangerfjord</h3>
            <h4>NORWAY</h4>
        </div>
    </div>

    <div class="explore_child">

        <a><%= image_tag "explr_02.jpg" %></a>
        <div class="explore_child_text">
            <h3>Antelope Cagnon</h3>
            <h4>NORTH AMERICA</h4>
        </div>
    </div>

    <div class="explore_child">
        <a><%= image_tag "explr_03.jpg" %></a>
        <div class="explore_child_text">
            <h3>Dolomites Mountains</h3>
            <h4>ITALY</h4>
        </div>
    </div>
</div>

<div class="see_more_container">
<%= link_to 'SEE MORE >>', places_path, class: "see_more" %>
</div>

<div class="subtext_intro">
    <h2>The Journal</h2>
    <p>Our favorite stories about public lands and opportunities for you to get involved in protecting your outdoor experience</p>
</div>

<div class="journal_block">
    <div class="journal_child">
        <%= image_tag "journ_01.jpg" %>
        <div class="journal_child_txt">
            <h4>MAY 30, 2019</h4>
            <h3>An Unforgettable</h3>
            <p>If you only have one day to visit Yosemite National Park and you want to make most out of it.</p>
        </div>
    </div>
    <div class="journal_child">
        <%= image_tag "journ_02.jpg" %>
        <div class="journal_child_txt">
            <h4>MAY 28, 2019</h4>
            <h3>Symphonies in Steel</h3>
            <p>Crossing the Golden Gate Bridge from San Francisco, you arrive in Marin even before landing on solid ground.</p>
        </div>
    </div>
</div>

<div class="all_posts"></p>
    <%= link_to 'ALL POSTS >>', journals_path, class: "see_more" %>
</div>

<div class="big-background display-pc-1100">
    <%= image_tag "sub_pc.jpg", class: 'display-pc-1100' %> 
</div>
<div class="big-background display-tbl-1100">
    <%= image_tag "sub_tb.jpg", class: 'display-tbl-1100' %> 
</div>
<div class="big-background display-sp-1100">
    <%= image_tag "sub_sp", class: 'display-sp-1100' %> 
</div>