<!DOCTYPE html>
<html>
  <head>
    <title>Outdoors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav>
        <%= link_to 'ABOUT', root_path %>
        <%= link_to 'EXPLORE', places_path %>
        <%= image_tag "map_pin.svg" %>
        <%= link_to 'JOURNAL', journals_path %>
        <% if logged_in? %>
        <%= link_to 'LOG OUT', logout_path, method: :delete %><br>
        <%= link_to 'PROFILE', user_path(current_user) %>
        <% else %>
          <%= link_to 'SIGNUP', signup_path %><br>
          <%= link_to 'LOGIN', login_path %>  
        <% end %>
    </nav>
 

    <%= yield %>

    <footer>
        &copy; 2019 THE GREAT OUTDOORS, by Yana Maximkina
    </footer>
  </body>
</html>
